on: [pull_request]
name: Test & Lint
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        # Required:  the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.29
        # Optional: golangci-lint command line arguments.
        # args: --timeout=20m
        # Optional: show only new issues if it's a pull request. The default value is `false`.
        only-new-issues: true
